Flask
Flask-CORS
google-cloud-vision
google-cloud-speech
google-cloud-aiplatform
google-cloud-translate
google-genai
pdf2image
Werkzeug
Pillow
python-dotenv
gunicorn
python-magic-bin
requests
pymongo
supabase
gotrue